**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
.venv

**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
README.md
